details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details summary::before {
  content:"🡒 ";
}

details[open] summary::before { 
  content:"🡑 "; 
}

.post-container a {
    color: #015668;
}
.sidebar-container h5 {
    color: #444 !important;
}
.sidebar-container h5 a {
    color: #444 !important;
}
.sidebar-container .tags a {
    color: #444 !important;
}
.sidebar-container a {
    color: #444 !important;
}

.text-muted {
    color: #666;
}

body {
    font-family:"Noto Sans","Helvetica Neue",Arial,sans-serif;
}

