{{ $.Scratch.Add "gallery" (index .Site.Params "gallery_prefix") }}
{{ $.Scratch.Add "width" (.Get "width" | default "100%") }}
{{ $.Scratch.Add "height" (.Get "height" | default "300px") }}
{{ $.Scratch.Add "auto-slide" (.Get "auto-slide" | default "0") }}

{{ $.Scratch.Add "arrow-left" (.Get "arrow-left" | default "fa-chevron-left") }}
{{ $.Scratch.Add "arrow-right" (.Get "arrow-right" | default "fa-chevron-right") }}

{{ $.Scratch.Add "id" (.Get "id" | default ( path.Base ($.Get "dir") ) ) }}

{{ $csvPath := (print "/assets" ($.Get "dir") ".csv") }}
{{ $csvFile := path.Base $csvPath }}
{{ $containingDir := print (path.Dir (print "/assets" ($.Get "dir"))) }}
{{ $galleryLinks := false }}
{{ if and (fileExists $containingDir) ((where (readDir $containingDir) "Name" $csvFile)) }}
  {{ $galleryLinks = true }}
{{ end }}

{{ $links := newScratch }}
{{ $links.Add "img" dict }}
{{ $data := dict }}
{{ $arg := (.Get "dir") }}
{{ $csvName := printf "%s.csv" $arg }}
{{ with resources.Get $csvName }}
  {{ $opts := dict "delimiter" "," }}
  {{ $data = . | transform.Unmarshal $opts }}
{{ end }}
{{ range $data }}
  {{ $imgName := (index . 0) }}
  {{ $links.SetInMap "img" $imgName (index . 1) }}
  {{/* no extension, just add .avif by default */}}
  {{ if eq (len (split $imgName ".")) 1 }}
    {{ $links.SetInMap "img" (printf "%s.avif" $imgName) (index . 1) }}
  {{ else if eq (len (split $imgName ".")) 2 }}
    {{ $imgNameSplit := split $imgName "." }}
    {{ $links.SetInMap "img" (printf "%s.avif" (index $imgNameSplit 0)) (index . 1) }}
  {{ end }}
{{ end }}

<!-- Gallery -->
<div id="slide-{{ $.Scratch.Get "id" }}" class="carousel slide" data-bs-ride="carousel">
  {{- with (.Get "dir") -}} 
      {{- $files := readDir (print "/static/" .) }} 
      {{ if gt (len $files) 1 }}
        <ol class="carousel-indicators">
            <li data-bs-target='#slide-{{ $.Scratch.Get "id" }}' data-bs-slide-to="0" class="active"></li>
          {{- range (seq 1 (sub (len $files) 1)) }}
            <li data-bs-target='#slide-{{ $.Scratch.Get "id" }}' data-bs-slide-to="{{.}}"></li>
          {{- end }}
        </ol>
      {{ end }}
      <div class="carousel-inner">
        {{- range first 1 $files -}} 
          {{- $absoluteUrl := print ($.Get "dir") "/" .Name | absURL }}
          <div class="carousel-item active">{{ if and $galleryLinks (isset ($links.Get "img") .Name) }}<a href="{{$.Scratch.Get "gallery"}}{{ index ($links.Get "img") .Name }}">{{ end }}<img class="slide-{{ $.Scratch.Get "id" }}" src="{{ $absoluteUrl }}">{{ if and $galleryLinks (isset ($links.Get "img") .Name) }}</a>{{ end }}</div>
        {{- end }} 
        {{- range after 1 $files -}} 
          {{- $absoluteUrl := print ($.Get "dir") "/" .Name | absURL }}
          <div class="carousel-item">{{ if and $galleryLinks (isset ($links.Get "img") .Name) }}<a href="{{$.Scratch.Get "gallery"}}{{ index ($links.Get "img") .Name }}">{{ end }}<img class="slide-{{ $.Scratch.Get "id" }}" src="{{ $absoluteUrl }}">{{ if and $galleryLinks (isset ($links.Get "img") .Name) }}</a>{{ end }}</div>
        {{- end }} 
      </div>
    {{ if gt (len $files) 1 }}
      <a class="carousel-control-prev" href="#slide-{{ $.Scratch.Get "id" }}" data-bs-slide="prev">
        <span class="fa fa-chevron-left my-chevron"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slide-{{ $.Scratch.Get "id" }}" data-bs-slide="next">
        <span class="fa fa-chevron-right my-chevron"></span>
        <span class="sr-only">Next</span>
      </a>
    {{ end }}
  {{- end }}
</div>
